*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.parent{
    background-color: red;
    height: 1500px;
    width: 500px;
    margin: 0 auto;
    background-image: url("img/img13_1.jpg");
    background-repeat: no-repeat;
    /* background-repeat: repeat-x;
    background-repeat: repeat-y; */

    /* background-size: 100px 100px; */
    /* background-size: contain; */
    background-size: cover;

    background-position: center;
    /* background-position: left center;
    background-position: right 100px left 200px; */
}